{% extends 'base.html.twig' %}

{% block body %}
<h1>Consignes du test technique d’entrée à POP School Lens</h1>

<p>2020, Daishi Kaszer daishi@pop.eu.com</p>

<h2>Généralités</h2>

<p>Aucun savoir préalable n’est demandé, le test vise surtout à vous faire essayer un peu de code pour être certains que ça vous plaise et évaluer votre motivation.</p>

<p>Le test comprend plusieurs parties :</p>

<ul>
<li>des cours de code avec <a href="https://www.codecademy.com/">Codecademy</a></li>
<li>un projet de CV avec <a href="https://openclassrooms.com/">OpenClassrooms</a></li>
<li>(facultatif) un projet de site web avec <a href="https://www.codecademy.com/">Codecademy</a></li>
</ul>


<p>Avant toute chose, sachez que vous n'avez pas à payer pour vous inscrire.
Toutes les cours que vous verrez sont gratuits.</p>

<p>Nous attendons de vous que passiez au moins 40 badges avec <a href="https://www.codecademy.com/">Codecademy</a> et que vous nous envoyiez votre projet de CV avec <a href="https://openclassrooms.com/">OpenClassrooms</a>.</p>

<h2>Les cours de code avec <a href="https://www.codecademy.com/">Codecademy</a></h2>

<p>Vous devez d'abord créer un compte ici : <a href="https://www.codecademy.com/register">Sign up for Codecademy</a>.</p>

<h3>Consignes pour les cours de code</h3>

<p>Après avoir créé un compte, rendez-vous dans la page du <a href="https://www.codecademy.com/catalog/subject/">catalogue complet</a> et démarrez les leçons suivantes :</p>

<ul>
<li><a href="https://www.codecademy.com/learn/learn-html">Introduction to HTML</a></li>
<li><a href="https://www.codecademy.com/learn/learn-css">Learn CSS</a></li>
<li><a href="https://www.codecademy.com/learn/learn-how-to-code">Learn How to Code</a></li>
<li><a href="https://www.codecademy.com/learn/introduction-to-javascript">Introduction to JavaScript</a></li>
</ul>


<p>Vous n'êtes pas obligé de finir toutes les cours.
Mais vous devez toutes les commencer et obtenir au moins 40 badges !</p>

<p>Nous vous demandons de nous transmettre l'adresse de votre profil codecademy via la page <a href="http://recrutement.popschool-lens.fr/candidature/">http://recrutement.popschool-lens.fr/candidature/</a></p>

<p><em>Par exemple, voici la mienne : <a href="https://www.codecademy.com/profiles/jibundeyare">https://www.codecademy.com/profiles/jibundeyare</a>.</em></p>

<h2>Le projet de CV avec <a href="https://openclassrooms.com/">OpenClassrooms</a></h2>

<p>Vous devez suivre le cours <a href="https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3">Apprenez à créer votre site web avec HTML5 et CSS3 - OpenClassrooms</a>.</p>

<p>Il vous suffit de réaliser les deux premières parties seulement.
Vous n'avez pas à finir complètement le projet.</p>

<p>Pour votre candidature, le contenu du CV ne nous intéresse pas vraiment.
Ce qui nous intéresse c’est le code HTML/CSS que vous allez écrire.
Du coup on vous demande de faire un CV imaginaire.
Ça peut être un super-héros, un sportif, un personnage historique… lâchez-vous !</p>

<h3>S’inscrire à OpenClassRooms</h3>

<p>L’inscription à OpenClassRooms est gratuite pour les demandeurs d’emploi.</p>

<p>Vous devez d'abord créer un compte ici : <a href="https://openclassrooms.com/fr/register">Inscription - OpenClassrooms</a>.</p>

<p>Vous devrez indiquer votre numéro de demandeur d’emploi.
La demande se fait sur la page suivante après avoir créé votre compte OpenClassRooms : <a href="https://openclassrooms.com/fr/partners/pole-emploi/offers">https://openclassrooms.com/fr/partners/pole-emploi/offers</a>.</p>

<h3>Consignes pour le projet de CV</h3>

<p>Nous vous demandons de nous le transmettre via la page <a href="http://recrutement.popschool-lens.fr/candidature/">http://recrutement.popschool-lens.fr/candidature/</a>.</p>

<p>Voici les points auxquels vous devez être attentifs :</p>

<ul>
<li>Vous devez nous transmettre votre dossier sous la forme d’un fichier <code>zip</code> (de 5 Mo maxi)</li>
<li>Votre page HTML doit s’appeler <code>index.html</code></li>
<li>Votre feuille de style doit s’appeler <code>style.css</code></li>
<li>Votre page HTML doit contenir au moins une balise <code>h1</code> et une liste <code>ul</code> avec des <code>li</code></li>
<li>Votre feuille de style CSS doit contenir au moins une propriété <code>color</code> pour les balises de type <code>h1</code></li>
</ul>


<p>Voici les points qui nous feraient plaisir, mais qui sont facultatifs:</p>

<ul>
<li>Ajoutez un maximum de code HTML et CSS</li>
<li>Utiliser des fonctions avancées de CSS3 ou des balises sémantiques HTML5</li>
<li>Ajouter un fichier <code>README.txt</code> avec votre code</li>
<li>Faire les parties 3 et 4 du cours d'OpenClassRooms</li>
<li>Rédigez votre CV en anglais</li>
</ul>


<p>Par contre, vous seriez éliminés si:</p>

<ul>
<li>Vous utilisez du PHP ou du JavaScript (nous allons avoir beaucoup de candidatures, notre système d'analyse syntaxique automatisé ne contrôle que le HTML et le CSS !)</li>
<li>Vos fichiers ne respectent pas la nomenclature (<code>index.html</code> et <code>style.css</code>, là encore c’est une question d’analyseur syntaxique)</li>
</ul>


<h2>Le projet facultatif de site web avec <a href="https://www.codecademy.com/">Codecademy</a></h2>

<p>Le cours se trouve ici : <a href="https://www.codecademy.com/learn/make-a-website">Make a Website</a></p>

<p>Faites-vous plaisir, ce n'est que du bonus !</p>

<h3>Consignes pour le projet de site web</h3>

<p>Nous vous demandons de nous le transmettre sous forme de fichier zip (5 Mo maxi) via la page <a href="http://recrutement.popschool-lens.fr/candidature/">http://recrutement.popschool-lens.fr/candidature/</a>.</p>

<h2>Contacts</h2>

<p>Pour tout demande d'information d'ordre général (dates, dossier inscription, etc) : <a href="mailto:{{ generalContactEmail }}">{{ generalContactEmail }}</a></p>

<p>Pour tout demande d'information d'ordre technique (code, test) : <a href="mailto:{{ technicalContactEmail }}">{{ technicalContactEmail }}</a></p>
{% endblock %}
