{% extends 'base.html.twig' %}

{% block title %}Nouvelle candidature{% endblock %}

{% block body %}
    <h1>Nouvelle candidature</h1>

    {{ include('application/_form.html.twig') }}
{% endblock %}
