<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Recrutement Pop School Lens{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {% block javascripts %}
        <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="/node_modules/popper.js/dist/popper.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
